#.DS_Store
#mlflow/
#mlruns/
src/eda/.ipynb_checkpoints/
#src/eda/artifacts/
#src/eda/wandb/
#src/eda/Untitled.ipynb
#outputs/
#src/basic_cleaning/wandb/*.log
#src/basic_cleaning/wandb/run-*
#src/basic_cleaning/wandb/debug-internal.log
#src/basic_cleaning/wandb/debug.log
#src/basic_cleaning/wandb/latest-run

#multirun/
